{% extends 'base.html.twig' %}

{% block body %}
	{% block headertext %}
		<div class="jumbotron text-center">
			<h1>{{ 'Event Booking System' }}</h1>
		</div>
	{% endblock %}

		<div class="container text-center">
			 <a href="/login" type="submit" class="btn btn-lg btn-primary">Login</a>
		</div>

{% endblock %}

